css/normalize.css
css/skeleton.css
css/style.css
img/bag.jpg
img/banana.jpg
img/boots.jpg
img/chair.jpg
img/cthulhu.jpg
img/dragon.jpg
img/pen.jpg
img/scissors.jpg
img/shark.jpg
img/sweep.png
img/unicorn.jpg
img/usb.gif
img/water-can.jpg
img/wine-glass.jpg
js/chart.js
README.md
index.html
user-stories.md
